@font-face {
    font-family: gagalin;
    src: url('gagalin.otf');
}


#titulo{
    font-family: gagalin;
    color:red;
    font-size: 40px;
    text-align: center;
}

#information{
    border-color: black;
}

.info{
    text-align: center;
    

}

.mds{
    width: 50% !important;
    float: center !important;
}
